.site-info{
	display:none;
}
#select_1620490661{
	color:black;
}
.ur-label,.input-text ,.input-text,.ur-frontend-field {
	color:#C8D5E6
	
}
#first_name,#last_name, #user_email,#user_pass,#user_confirm_password,#input_box_1620490824{
	
	border-radius:0px;
	border:1px solid #C8D5E6;
	color:#C8D5E6; 
}
#select_1620490661{
	background-color:none;
}
#user-registration-form-21{
	border:none;
}
.ur-frontend-form{
	margin-bottom: 0px;
}
.ur-frontend-form .ur-form-row .ur-form-grid label, .ur-frontend-form .ur-form-row .ur-form-grid legend{
	margin-bottom: 0px;
}
.ur-frontend-form button, .ur-frontend-form button[type="submit"], .ur-frontend-form input[type="submit"]{
	line-height: 1.0;
	color:gold;
	text-decoration:bold;
}
.ur-frontend-form button, .ur-frontend-form button[type="submit"], .ur-frontend-form input[type="submit"]{
	padding: 8px 94px;
	margin-top:30px;
	background-color:black;
	border-radius:0px;
	
}
.ur-frontend-form .ur-submit-button{
	margin-right: 13px;
}
.ur-frontend-form .ur-form-row .ur-form-grid .__PrivateStripeElement, .ur-frontend-form .ur-form-row .ur-form-grid input[type="date"], .ur-frontend-form .ur-form-row .ur-form-grid input[type="email"], .ur-frontend-form .ur-form-row .ur-form-grid input[type="number"], .ur-frontend-form .ur-form-row .ur-form-grid input[type="password"], .ur-frontend-form .ur-form-row .ur-form-grid input[type="phone"], .ur-frontend-form .ur-form-row .ur-form-grid input[type="text"], .ur-frontend-form .ur-form-row .ur-form-grid input[type="timepicker"], .ur-frontend-form .ur-form-row .ur-form-grid input[type="url"], .ur-frontend-form .ur-form-row .ur-form-grid select, .ur-frontend-form .ur-form-row .ur-form-grid textarea {
    width: 250px;
    min-height: 30px;
		max-height:30px;
    margin-bottom: -1px;
    line-height: 1.0;
    margin-left: 40px;
}
.ur-frontend-form .ur-form-row .ur-form-grid label, .ur-frontend-form .ur-form-row .ur-form-grid legend {
    display: block;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 40px;
	
}
.ur-frontend-form .ur-form-row .ur-form-grid .ur-field-item {
    margin-bottom: 9px;
	
}
.ur-frontend-form {
    margin-bottom: 120px;
}
.ur-frontend-form .ur-form-row .ur-form-grid {
    flex: 1;
    padding: 0 13px;
    margin-top: 124px;
	
}

#last_name_field,#user_email_field,#user_pass_field,#input_box_1620490824_field,#select_1620490661_field{
	margin-top:20px;
	
}
.wpac-form{
	margin-bottom:20px;
}
#user_pass_field{
	display:none;
}
.ur-frontend-form #ur-submit-message-node {
	  margin-top:20px;
	  margin-bottom:-88px;
	  margin-left:35px;
}
.elementor img {
	min-height:613px;
	max-height:613px;
}
.elementor-179 .elementor-element.elementor-element-9ccf875 {
    min-height: 664px;
	  max-height:664px;
}
@media screen and (max-width: 767px){.elementor-column {
    max-width: 360px;
	  min-width: 360px;
    margin: auto;
	}
	.ur-frontend-form, 
	.ur-button-container{
		padding: 2px 55px;
	}
	.ur-frontend-form,
	.ur-form-row,
	.ur-form-grid {
		margin-left: -10px;
	}
	.elementor-column-gap-default > .elementor-column > .elementor-element-populated{
		padding:0px;
	}
	
	
}
@media screen and (max-width: 767px){
	.elementor-column {
    max-width: 320px;
	  min-width: 320px;
		padding-right:20px;
		margin: auto;
	}
	.ur-frontend-form button,    		.ur-frontend-form 		button[type="submit"], .ur-frontend-form input[type="submit"]{
	border-radius:20px;
	padding: 10px 93px;
}
	.ur-frontend-form, 
	.ur-button-container{
		padding: 10px 4px;
	}
	.ur-frontend-form,
	.ur-form-row,
	.ur-form-grid {
		margin-left: 4px;
	}
	#first_name, #last_name, #user_email, #user_pass, #user_confirm_password, #input_box_1620490824,#select_1620490661 {
    border-radius: 20px;
    border: 1px solid #C8D5E6;
    color: #C8D5E6;
}
	.elementor-179 .elementor-element.elementor-element-9ccf875:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-179 .elementor-element.elementor-element-9ccf875 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #335c715e;
}
	.ur-frontend-form #ur-submit-message-node {
    margin-top: 12px;
    margin-bottom: -49px;
    margin-left: 44px;
    padding-top: 9px;
    padding-bottom: 20px;
}
	
}
@media screen and (max-width: 480px){
	.ur-frontend-form button,    		.ur-frontend-form 		button[type="submit"], .ur-frontend-form input[type="submit"]{
	border-radius:20px;
	padding: 10px 99px;
}
	.elementor-179 .elementor-element.elementor-element-9ccf875:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-179 .elementor-element.elementor-element-9ccf875 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #335c715e;
		max-height:900px;
}
}
@media screen and (max-width: 360px){
	.elementor-column {
    max-width: 320px;
	  min-width: 320px;
		padding-right:20px;
		margin: auto;
		margin-left:15px;
	}
	.ur-frontend-form button,    		.ur-frontend-form 		button[type="submit"], .ur-frontend-form input[type="submit"]{
	border-radius:20px;
	padding: 10px 99px;
}
	.elementor-179 .elementor-element.elementor-element-9ccf875:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-179 .elementor-element.elementor-element-9ccf875 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #335c715e;
}
	
}
@media screen and (max-width: 767px){
	.elementor-179 .elementor-element.elementor-element-e7063c5:not(.elementor-motion-effects-element-type-background), .elementor-179 .elementor-element.elementor-element-e7063c5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
		min-height: 825px;
	}
	
	#last_name-error,#first_name-error,#user_email-error,#input_box_1620490824-error{
		width: 200px;
	}
	
}
@media screen and (max-width: 1023px){
	.elementor-179 .elementor-element.elementor-element-e7063c5:not(.elementor-motion-effects-element-type-background), .elementor-179 .elementor-element.elementor-element-e7063c5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
		min-height: 825px;
	}
	.elementor img {
    min-height: 615px;
    max-height: 613px;
    margin-top: 3px;
}
	.elementor-179 .elementor-element.elementor-element-e7063c5 {
		    margin-top: 0%;
		
	}
	.elementor-section.elementor-section-height-full>.elementor-container {
    height: 73%;
}
	#last_name-error,#first_name-error,#user_email-error,#input_box_1620490824-error{
		width: 231px;
		margin-top: -30px;
		height: 30px;
		margin-left: 49px;
	}
}
@media screen and (min-width: 1024px){
	.elementor-179 .elementor-element.elementor-element-e7063c5:not(.elementor-motion-effects-element-type-background), .elementor-179 .elementor-element.elementor-element-e7063c5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
		min-height: 750px;
	}
	.elementor img {
    min-height: 615px;
    max-height: 613px;
    margin-top: 0px;
	}.elementor-179 .elementor-element.elementor-element-e7063c5 {
		    margin-top: 0%;
		
	}
	#last_name-error,#first_name-error,#user_email-error,#input_box_1620490824-error{
		width: 250px;
		margin-top: -30px;
		height: 30px;
	}
}
.user-registration-message {
    border-top-color: #3de60d;
    background: rgb(15 226 21 / 10%);
    color: #36e00c;
}

@media screen and (max-width: 330px){
.elementor-column {
    max-width: 300px;
    min-width: 300px;
	margin-left: 7px;
	}
.ur-frontend-form .ur-button-container {
	    padding: 0px 0px;
 }
}
.elementor-179 .elementor-element.elementor-element-e7063c5:not(.elementor-motion-effects-element-type-background), .elementor-179 .elementor-element.elementor-element-e7063c5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-position: -0px -0px;
}

.user-registration-error::before, .user-registration-info::before, .user-registration-message::before{
	margin-top:-10px;
}









